@charset "utf-8";
/* CSS Document */

body{
	text-align: center;
}

.leftside{
	height: 55vh;
	width: 100%;
}

.rightside{
	height: 35vh;
	width: 100%;
    overflow: auto;
}

@media screen and (min-width:500px)
{
	.leftside, .rightside{
    height: 100vh;
	}
}

.leftside{
	background: #111111;
}

.rightside{
	background: #111111;
	position: relative;
}

.profile-image {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../images/adithya.design.jpg");
    background-size: cover;
    background-position: center;
}

.name{
    color: #FAFAFA;
    font-family: adelle, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px
}

.para{
    color: #FAFAFA;
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 1rem;
    padding-bottom: 10px;
}

/*aligning*/

.center{
  height: 100vh;
  position: relative;
}
.center .box{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


@media only screen and (max-width: 500px) {
  .profile-image {
    height: 55vh;
    }
    .name{
      font-size: 30px
    }
}